*.iml
.gradle
/local.properties
.DS_Store
/.idea
/build
/captures
.externalNativeBuild
.idea/tasks.xml
.idea/.name
.idea/encodings.xml
.idea/scopes/scope_settings.xml
gradlew.bat
gradle/
rotatable-autofit-edittext/bintray.gradle